<div>
  <label>
    ID: <input [(ngModel)]="tempId">
  </label>
</div>
<div>
  <label>
    Title: <input [(ngModel)]="newContent.title">
  </label>
</div>
<div>
  <label>
    Author: <input [(ngModel)]="newContent.author">
  </label>
</div>
<div>
  <label>
    Type: <input [(ngModel)]="newContent.type">
  </label>
</div>
<div>
  <label>
    Image URL: <input [(ngModel)]="newContent.imgUrl">
  </label>
</div>
<div>
  <label>
    Body: <input [(ngModel)]="newContent.body">
  </label>
</div>
<div>
  <label>
    Tags: <input [(ngModel)]="tempTags">
  </label>
</div>
<div>
  <button (click)="addBook()">Add Book</button>
  <button (click)="updateBook()">Update Book</button>
</div>
