
<app-create-component (addContentEvent)="addBookToList($event)" (updateContentEvent)="updateBookFromList($event)">
</app-create-component>
<br>
<div class="searchBook">
  Enter a title: <input #book>
  <button (click)="checkIfExists(book.value)">
    Search for Book
  </button>
</div>
<br>

<h1>Fantasy Fiction Books</h1>
<app-content-card *ngFor="let item of (contentArray | contentFiltered: 'Fantasy Fiction'); index as i; last as isLast"
                  [class.is-last]="isLast" [content]="item" class="fantasy"></app-content-card>

<h1>Thriller Books</h1>
<app-content-card *ngFor="let item of (contentArray | contentFiltered: 'Thriller'); index as i; last as isLast"
                  [class.is-last]="isLast" [content]="item" class="thriller"></app-content-card>
