/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// styles.scss
@import '~@angular/material/theming';
@include mat-core();
$my-theme-primary: define-palette($mat-green);
$my-theme-accent: define-palette($mat-amber);
$my-theme-warn: define-palette($mat-red);
$my-theme: define-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);
@include angular-material-theme($my-theme);
