:host {
  margin: 20px auto;
  padding: 15px;
  font-family: Arial, sans-serif;
  color: darkcyan;
  display: block;
  width: 920px;
}

:host img {
  max-width: 200px;
}

:host.fantasy {
  border: 2px solid red;
}

:host.thriller {
  border: 2px solid green;
}

:host.is-last {
  border: 2px solid black;
}
