<html>
<body>
    <div class="content">
      <h1>Book Details</h1>
      <div appHoverStyle>
        <h1>{{content.id}}. {{content.title}}</h1>
      </div>
      <h2>{{content.author}}</h2>
      <h3>{{content.body}}</h3>
      <h3>{{content.type}}</h3>
      <div appHoverStyle *ngFor="let tag of content.tag">
        {{tag}}
      </div>
      <img [src]="content.imgUrl" alt="Book Cover">
    </div>

    <div *ngIf='content.imgUrl else imageCheck'>
      {{content.imgUrlg}}
    </div>

    <ng-template #imageCheck>
      <img src='https://cdn.pixabay.com/photo/2021/09/20/19/10/error-6641731_1280.png' alt="Book Cover">
    </ng-template>
</body>
</html>
